<h1>Campaign Details</h1>

<dl>
  <dt>Title</dt>
  <dd><%= @campaign.title %></dd>

  <dt>Content</dt>
  <dd><%= @campaign.content %></dd>
</dl>

<%= button_to 'Delete', campaign_path(@campaign), method: :delete %>
